{% extends "blog/base.html" %}
{% block content %}
	<h1 class="text-center">Ini Adalah About</h1>
	<br>
	<div class="row">
		<div class="col-md-12 text-center text-danger">
		<p class="lead">Selamat Datang di Blog ku. Blog ini hanya berisi tulisan-tulisan singkat, namun harus memiliki makna yang bisa merepresentasikan sebuah makna. Di mulai dari pemahaman yang sederhana, sampai dengan jenis pemahaman yang paling susah sekalipun. Dapat Update terbaru setiap harinya disini.  
		</p>
		</div>
	</div>
{% endblock content %}
