{% extends "blog/base.html" %}
{% block content %}
    {% for tampil in kirim %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ tampil.author.profile.image.url }}" alt="">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{tampil.author}}</a>
              <small class="text-muted">{{tampil.tanggal|date:'l, F Y g:i a'}}</small>
            </div>
            <h2><a class="article-title" href="#">{{tampil.title}}</a></h2>
            <p class="article-content">{{tampil.content}}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}